html, body {
  margin: 20px;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 30px;
}

h1 {
	font-weight: 200;
}


input[type="text"] {
	text-align: right;
}

.percent {
	width: 25px;
}

.revenue {
	width: 60px;
}

#potential-gains {
	color: #C90400;
	font-size: 25px;
}

footer {
	padding-top: 80px; 
	position: absolute;
	bottom: 10px;
	font-size: 14px;
}

@media all and (max-width: 400px) {
	footer {
		position: relative;
		display: block;
	}
}